<div class="col-md-4 right">
			<aside class="row no-margin">
				<div class="col-xs-12 search">
					<form action="" class="relative">
						<span class="icon-search search__icon"></span>
						<input class="search__input" type="text" placeholder="Buscar...">
					</form>
				</div>
				<div class="col-xs-12 center-xs donate">
					<h2>Comunicado</h2>
					<p class="text-left">Series HD no almacena ningún video en sus servidores, somos un portal que publica contenido de otros sitios web que son de dominio publico. Cualquier reclamo hacerlo llegar a dichos servidores y gustosamente ellos podran atender su reclamo y retirar dicho material.</p>
				</div>
				<div class="col-xs-12 center-xs donate">
					<h2>Donativos</h2>
					<img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donativos">
				</div>
				<div class="col-xs-12 center-xs donate">
					<h2>Siguenos en Twitter</h2>
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LatamSeries" data-widget-id="603391672320405505">Tweets por el @LatamSeries.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
				<div class="col-xs-12 center-xs social__aside">
					<h2>Siguenos</h2>
					<div class="social__icons">
						<ul>
							<li><a target="_blank" href="https://www.facebook.com/LatamSeries" class="facebook-color-l icon-facebook "></a></li>
							<li><a target="_blank" href="https://twitter.com/LatamSeries" class="twitter-color-l icon-twitter "></a></li>
							<a href="#" class="instagram-color icon-instagram "></a>
						</ul>
					</div>
				</div>
			</aside>
		</div>