<ul class="menu">					
	<li>
		<a href="/">Home</a>		
	</li>
	<li>
		<a href="/series">Series</a>
	</li>
	<li>
		<a href="/peliculas">Peliculas</a>		
	</li>
	<li>
		<a href="/contacto">Contacto</a>		
	</li>
</ul>