<div class="row no-margin slider">
				<div class="col-xs-12">
					<div class="flexslider">
					  <ul class="slides">
					    <li>
					      <img src="http://2.bp.blogspot.com/-rDes2XEujy8/UfWRg327QaI/AAAAAAAACnw/1MRfnvWZka0/s1600/Imagen3.jpg" />
					    </li>
					    <li>
					      <img src="http://s20.postimg.org/6irw4ohm3/smd_capa_1.png" />
					    </li>
					    <li>
					      <img src="http://1.bp.blogspot.com/-_BhiYqW9AHk/UjTlDgIwAZI/AAAAAAAAC_U/GOnBnZsLnuc/s1600/bscap0014.jpg" />
					    </li>
					  </ul>
					</div>
				</div>
			</div>