<!DOCTYPE html>
<html lang="es">
<head>
	{{! Document Settings }}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	{{! Responsive Meta Tags }}
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	
	{{! Styles }}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/flexboxgrid.min.css">
	<link rel="stylesheet" href="/assets/css/flexslider.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	
    {{ghost_head}}
</head>
<body class="{{body_class}}">
	
	<header class="">
		<div class="row nav__top">
			<nav class="col-xs-12 col-md-8 center-xs start-md menu__container">
				{{> "navigation"}}
			</nav>
			<div class="col-xs-12 col-md-4 center-xs end-md social__header">
				<ul>	
					<li><a target="_blank" href="https://www.facebook.com/LatamSeries" class="facebook-color-l icon-facebook "></a></li>
					<li><a target="_blank" href="https://twitter.com/LatamSeries" class="twitter-color-l icon-twitter "></a></li>
					<li><a href="#" class="instagram-color-l icon-instagram "></a></li>
				</ul>
			</div>
		</div>
		<div class="row no-margin header__banner relative" style="background: url('{{@blog.cover}}')">
			<div class="row no-margin middle-xs">
				<h1 class="banner__title">{{@blog.title}}</h1>
			</div>
		</div>
	</header>

	{{{body}}}

	
	<footer class="row no-margin">
		<div class="col-xs-12">
			<p class="center-xs">Website Developed by <a class="twitter-color-l" href="http://lauser.cf/">Kildare Lauser</a></p>
		</div>
	</footer>
	
	{{ghost_foot}}

	{{! JavaScript }}	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/assets/js/jquery.flexslider.js"></script>

	<script src="/assets/js/main.js"></script>
</body>