{{!< default}}
<section class="row no-margin main__container">
	<div class="col-md-8 left">
			
		{{> "slider"}}

	<div class="row no-margin main__series">
		{{#foreach posts}}
			<article class="col-xs-12 col-md-4 center-xs series__item">
				<a href="{{url}}">
					<figure class="series__imagecontainer">
						<img src="{{image}}" height="100">
					</figure>
					<h2 class="series__title">{{title}}</h2>
				</a>
			</article>
		{{/foreach}}
			<p class="col-xs-12 center-xs">
				{{#if pagination}}
					{{{pagination}}}
				{{/if}}
			</p>
		</div>
	</div>
	{{> "aside"}}
</section>