{{!< default}}
{{#post}}

<section class="row no-margin main__container">
		<div class="col-md-8 left">
			<div class="row no-margin main__series">
				<div class="col-xs-11 margin-auto article">
					{{content}}
				</div>
			</div>
		</div>
		{{> "aside"}}
	</section>

{{/post}}