azul_h2 = #213338
gris = #575757
verde = #16210B

// Etiquetas
a
	text-decoration none

aside
	div
		margin-bottom 1em
		
	h2
		border-bottom solid 2px gris
body
	margin 0
	padding 0
	font-family "Open Sans", sans-serif

h2
	color azul_h2

footer
	background-color verde
	color white
	padding 2em
	p
		margin 0

// Clases Reutilizables
.facebook-color
	color #3b5999
.facebook-color-l
	color #507cbe
.twitter-color
	color #60a9de
.twitter-color-l
	color #65cbed
.instagram-color
	color #44251E
.instagram-color-l
	color #AA7E62

.no-margin
	margin 0
	
.margin-auto
	margin 0 auto
		
.relative
	position relative
	
.text-left
	text-align left
	
//Clases
.article
	h2
		text-align center
		font-size 3em
		margin .5rem 0
	
	h3
		color azul_h2
		font-size 2em
		margin .7rem 0

	img
		border 0
		display inline-block
		height auto
		max-width 100%
		vertical-align middle
	
	p		
		line-height 1.6
		margin-bottom 1.25rem
		text-rendering optimizeLegibility
		
	a
		text-decoration none
		color #ff4d4d
		position relative
		
		&:before
			content ""
			position absolute
			width 100%
			height 2px
			bottom 0
			left 0
			background-color #ff4d4d
			visibility hidden
			-webkit-transform scaleX(0)
			transform scaleX(0)
			-webkit-transition all 0.2s ease-in-out 0s
			transition all 0.2s ease-in-out 0s
		
		&:hover:before
			visibility visible
			-webkit-transform scaleX(1)
			transform scaleX(1)
			
.banner__title
	color white
	margin-left 1em
	font-size 3em
	text-shadow: 2px 2px 5px #000

.donate
	img
		max-width 147px
		margin 0 auto
		
.nav__top
	background-color verde
	color white
	margin 0 auto

.main__container
	margin 1em 0

.menu
	padding 0

	li
		display inline-block
		border-right solid white 2px
		padding 0 .5em
		
		a
			color white
			font-size 1.1em
			
			&:hover
				text-decoration underline
				text-shadow 1px 1px 1px black

.header__banner
	background-color #23222d
	background-size cover	
	background-position 50% 50%
	background-repeat no-repeat
	width 100%
	height 200px

.search
	background-color gris
	padding .5em
	
.search__input
	border 1px solid white
	padding .5em 0 .5em 2em
	border-radius .4em
	color gris

.search__icon
	position absolute
	top .4em
	left .5em
	color gris

.series__item
	margin-bottom 1em

.series__imagecontainer
	margin 0
	img
		width 270px
		height 270px
		
.series__title
	color azul_h2
	margin 0

.social__header
	ul
		padding 0
		
		li
			display inline-block
			
			a
				font-size 2em
				margin-right 1em
				
.social__icons
	ul
		padding 0
		
	li
		display inline-block
	a
		font-size 3em
		margin-right .2em

//MEDIA QUERYS

@media (min-width: 62em){
	aside h2{
		text-align left
	}

	.search__input{
		width 90%
	}
	
	.social__header ul li{
		background-color white
		text-align center		
		border-radius .4em
		padding .1em
	}
	
	.social__header ul li a{
		margin 0
		padding .2em		
	}
}
//ICON FONTS
@font-face {
	font-family: 'series';
	src:url('../fonts/series.eot?-8dpx1d');
	src:url('../fonts/series.eot?#iefix-8dpx1d') format('embedded-opentype'),
		url('../fonts/series.woff?-8dpx1d') format('woff'),
		url('../fonts/series.ttf?-8dpx1d') format('truetype'),
		url('../fonts/series.svg?-8dpx1d#series') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'series';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e986";
}
.icon-facebook:before {
	content: "\ea8d";
}
.icon-twitter:before {
	content: "\ea92";
}
